*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: rgb(230, 227, 227);
}
.nav-title{
    text-align: center;
    font-family: sans-serif;
}
.title{
    color: rgb(104, 102, 102);
    font-weight: 600;
    font-size: 2rem;
    margin-top: 0.2rem;
}
.products-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    position: relative;
    margin: 0.5em;
}
.product-section-title{
    color: rgb(104, 102, 102);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1em;
}
.products{
    display: flex;
    gap: 1rem;

}
.product{
    display: grid;
    gap: 0.5em;
}
.product-img{
    height:200px;
    width: 200px;
    border-radius:5px ;
}
.product-img:hover{
    height:205px;
    width: 205px;
    border-radius:10px
}
.btn{
    background-color: rgb(85, 85, 97);
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    font-weight: 600;
    color: wheat;
}
.btn:hover{
    background-color: gray;
    cursor: pointer;
}
.cart-name-price-col{
    display: grid;
}
.cart-title{
    text-align: center;
    color: rgb(104, 102, 102);
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1em;
}
.cart-img{
    height: 100px;
    width: 100px;
}
.cart-img:hover{
    height: 105px;
    width: 105px;
}
.cart-section{
        margin-top: 1rem;
        position: relative;
        margin: 2em;
}
.cart-row{
    display: flex;
    gap: 4em;
    border-bottom: 1px solid rgb(85, 81, 81);
    padding-bottom: 0.5em;
    
}
.cart-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.cart-quantity-input{
    width: 3em;
    height: 3em;
}
.cart-quantity{
    margin-top: 0.2em;
}
.cart-product-name{
    margin-bottom:  1em;
}
.cart-control-col{
   display: flex;
   align-items: center;
   justify-content: center;
}
.total-container{
    display: grid;
    border-bottom: 1px solid rgb(85, 81, 81);
    padding-bottom: 0.5em;
}
.total-div{
    display: flex;
    gap: 16rem;
    margin-top: 1em;
    margin-bottom: 1em;
}
.pay-btn{
 width: 100%;   
}
.cart-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .products{
        display: grid;
    }
}